@page "/" 
@using BlazorServerAppDemp.Componets
@* @using BlazorServerAppDemp.Models; *@
@*Root Page*@
@*<MyTextBoxComponent type="checkbox" @onchange="@(()=>{DisplayEmail=!DisplayEmail;})"></MyTextBoxComponent><label>Display Email</label>
 *@
 
<input type="checkbox" @bind="DisplayEmail" id="i" /><label for="i">display email</label>
@foreach(var con in contacts)
{
     <p>
        <b>name:</b><span>@con.FirstName @con.LastName</span> <br><br>
        <b>email:</b><i>@con.Email</i>
    </p>
    <contactcomponent currentcontact="con" displayemail="@DisplayEmail" deletecurrentcontact="deletecontact"></contactcomponent>
}

<ContactListComponent></ContactListComponent>
@* Passes arbitary attributes *@
<MyTextBoxComponent Placeholder="Enter Name" type="text" disabled="disabeld" value="Kamal"></MyTextBoxComponent>
<MyTextBoxComponent Placeholder="Enter Password" type="password"  ></MyTextBoxComponent>
<MyTextBoxComponent @attributes="@(new Dictionary<string,object>{
                                                                {"placeholder","contact number"},
                                                                {"type","number"}
                                                                    })" ></MyTextBoxComponent>
  <MyTextBoxComponent @attributes="MyTextBoxAttributes"></MyTextBoxComponent>                
 
@code{
    private List<Contact> contacts;
public bool DisplayEmail=true;
    public Dictionary<string, object> MyTextBoxAttributes = new Dictionary<string, object>
    {
         {"placeholder","Email"},
         {"type","text"}
    };

    private void DeleteContact(Contact contact)
    {
        contacts.Remove(contact);
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        contacts = new List<Contact>
        {
            new Contact
            {
              FirstName="John",
              LastName="Thomas",
              Email="john@gmail.com"
            
            },
             new Contact
            {
              FirstName="Piter",
              LastName="Thomas",
              Email="piter@gmail.com"

            },
             new Contact
            {
              FirstName="Jony",
              LastName="Thomas",
              Email="jony@gmail.com"

            },
        };
    }
}